.row-footer{
  background-color: #AfAfAf;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding:20px 0px 20px 0px;
}

.jumbotron{
  padding:70px 30px 70px 30px;
  margin:0px auto;
  margin-bottom: 20px;
  /*background:#7986CB;*/
  background-image: url(../webImage/man-dog.jpg);
  background-size: cover;
  background-position: 0% 30%;
  color:floralwhite;
}

.jumbotron > div{
  padding:60px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

#websiteLogo{
  max-width: auto;
  max-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}


body{
    padding:0px 0px 0px 0px;
    z-index:0;
}

#navigationBar{
  margin-bottom: 0px;
}


.tab-pane{
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropzone{
  height:250px;
  border:2px dashed #ccc;
  color:#ccc;
  line-height: 0px;
  text-align: center;
}


.dropzone.dragover{
  border-color:#000;
  color:#000;
}

.dropzoneWithImage{
  height:250px;
  visibility: hidden;
}

.calendar{
	width:80%;
	height:400px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 20px;
}

.timetable{
  width:80%;
  box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 20px;
}

.calendarBody{
  margin: 0 auto;
}

.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:20px;
}
.body-list ul li{
	width:14.28%;
	height:40px;
	line-height:40px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
}

.datehover:hover{
  background:#B0E0E6;
}


.lightgrey{
	color:#a8a8a8;
}
.darkgrey{
	color:#565656;
}
.blue{
	color:#7986CB;
}
.bluebox{
	border:1px solid #7986CB;
	background:#F0F8FF;
}

.dateselected{
  background: #D3D3D3;
}


#prev{
  display: inline-block;
  left: 30px;
  position:absolute;
}
#next{
  display: inline-block;
  right: 30px;
  position:absolute;
}
