<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="assets/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet" />
  <link href="assets/css/mystyle.css" rel="stylesheet" />
  <link href="assets/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
  <link href="assets/bootstrap3/css/bootstrap-social.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <script src="assets/bootstrap3/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif] -->
  <link rel="shortcut icon" href="assets/webImage/titleImage.jpg" />
  <title>Grooming</title>
</head>
<body>
  <!-- navigation bar -->
  <nav id="navigationBar" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><span><img id="websiteLogo" src="assets/webImage/titleImage.jpg" /></span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
          <li><a href="appointment.html"><span class="glyphicon glyphicon-th"
                         aria-hidden="true"></span> Appointment</a></li>
          <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
          <li><a href="contact.html"><span class="glyphicon glyphicon-phone"
                         aria-hidden="true"></span> Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="page-header">
      <h1>Admin</h1>
    </div>

    <div class="container">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#bookingList" onclick="getAppointmentInfo('bookingList')">Current appointments</a></li>
        <li><a data-toggle="tab" href="#inProgressList" onclick="getAppointmentInfo('inProgressList')">In progress</a></li>
        <li><a data-toggle="tab" href="#finishedList" onclick="getAppointmentInfo('finishedList')">Finished</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="bookingList">
        </div>

        <div class="tab-pane fade" id="inProgressList">
        </div>

        <div class="tab-pane fade" id="finishedList">
        </div>

      <div>
    </div>

    <div id="successModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-white"> Success! </h4>
          </div>
          <div class="modal-body text-success">
            <p id="successMessage"></p>
          </div>
        </div>
      </div>
    </div>

    <div id="failedModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title bg-danger"> Failed </h4>
          </div>
          <div class="modal-body text-danger">
            <p id="failedMessage"></p>
          </div>
        </div>
      </div>
    </div>

    <div id="showDetail" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Appointment Detail </h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Contact Name:</label>
                <div class="col-sm-10">
                  <p id="contactName" class="form-control-static"></p>
                </div>
              </div>
            </form>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Contact Email:</label>
                <div class="col-sm-10">
                  <p id="contactEmail" class="form-control-static"></p>
                </div>
              </div>
            </form>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="mobilephone">Mobile number:</label>
                <div class="col-sm-10">
                  <p id="contactMobileNumber" class="form-control-static"></p>
                </div>
              </div>
            </form>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="homephone">Contact Address:</label>
                <div class="col-sm-10">
                  <p id="contactAddress" class="form-control-static"></p>
                </div>
              </div>
            </form>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="workphone">Dog Name:</label>
                <div class="col-sm-10">
                  <p id="dogName" class="form-control-static"></p>
                </div>
              </div>
            </form>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="workphone">Dog Breed:</label>
                <div class="col-sm-10">
                  <p id="dogBreed" class="form-control-static"></p>
                </div>
              </div>
            </form>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="address">Groom Option:</label>
                <div class="col-sm-10">
                  <p id="groomOption" class="form-control-static"></p>
                </div>
              </div>
            </form>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-2" for="dognumber">Description:</label>
                <div class="col-sm-10">
                  <p id="description" class="form-control-static"></p>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container" style="width:50%; margin-top:20px;">
    <form role="form" action="/signup" method="post" id="signUp">
      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" id="pwd">
      </div>
      <button type="submit" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
    </form>
  <div>

  <div class="container" style="margin-bottom:20px; margin-top:20px;">
      <p>
      <span style="font-weight: bold;">Or login with:  </span>
      <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fab fa-google-plus"></i></a>
      <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook"></i></a>
      <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fab fa-twitter"></i></a>
      </p>
  </div> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script>
    window.onload = function(){
      getAppointmentInfo('bookingList');
    }

    const socket = io('http://localhost:3001');
    socket.on('connect', function(){
      socket.emit('admin-login',{
        socketId: socket.id,
        adminId: new Date()
      });
      socket.on('update-appointment', function(data){
        appendAppointmentPanel(data, 'bookingList');
      });
    });


    function getAppointmentInfo(parentNode){
      $.ajax({ // JQuery Ajax
        type: 'get',
        url: '/adminappointment',
        data: null,
        processData: false,
        contentType: false,
        success: function(feedback) {
          feedback = JSON.parse(feedback);
          if(feedback.status == 1){
            renderAppointmentPanel(feedback.message, parentNode);
          }else if(feedback.status == 2){
            renderAppointmentPanelEmpty(feedback.message, parentNode);
          }else{
            console.log(feedback.message);
          }

        }
      });
    }

    function renderAppointmentPanelEmpty(message, parentNode){
      var myBookingList = document.getElementById(parentNode);
      while(myBookingList.firstChild){
        myBookingList.removeChild(myBookingList.firstChild);
      }
      var messageNode = document.createElement("H1");
      messageNode.innerText = message;
      myBookingList.appendChild(messageNode);

    }

    function renderAppointmentPanel(result, parentNode){
      var myBookingList = document.getElementById(parentNode);
      while(myBookingList.firstChild){
        myBookingList.removeChild(myBookingList.firstChild);
      }
      var flag = 0;
      for(var i=0; i<result.length; i++){
        if(parentNode == "bookingList"){
          if(result[i].status == "inProgress" || result[i].status == "finished"){
            continue;
          }
          flag++;
        }else if(parentNode == "inProgressList"){
          if(!(result[i].status == "inProgress")){
            continue;
          }
          flag++;
        }else{
          if(!(result[i].status == "finished")){
            continue;
          }
          flag++;
        }
        var head = ['Contact Email', 'Dog\'s Name', 'Breed', 'Groom Option', 'status'];
        var tr_1 = document.createElement('TR');
        for(var j=0; j<head.length; j++){
          var th = document.createElement('TH');
          th.innerText = head[j];
          tr_1.appendChild(th);
        }
        var thead = document.createElement('THEAD');
        thead.appendChild(tr_1);

        var body = [result[i].contactEmail, result[i].dogName, result[i].dogBreed, result[i].groomOption, result[i].status];
        var tr_2 = document.createElement('TR');
        for(var k=0; k<body.length; k++){
          var th = document.createElement('TH');
          th.innerText = body[k];
          tr_2.appendChild(th);
        }
        var tbody = document.createElement('TBODY');
        tbody.appendChild(tr_2);
        var table = document.createElement("TABLE");
        table.classList.add("table");
        table.appendChild(thead);
        table.appendChild(tbody);

        var div_1 = document.createElement("DIV");
        div_1.classList.add("col-xs-12");
        div_1.appendChild(table);

        // set up button according to the tab view
        if(parentNode == "bookingList"){
          var buttonConfirm = document.createElement("BUTTON");
          var buttonViewDetail = document.createElement("BUTTON");
          buttonConfirm.classList.add("btn");
          buttonConfirm.classList.add("btn-success");
          buttonConfirm.classList.add("btn-sm");
          buttonViewDetail.classList.add("btn");
          buttonViewDetail.classList.add("btn-info");
          buttonViewDetail.classList.add("btn-sm");
          buttonConfirm.style = "float: right; margin-right: 5px;";
          buttonViewDetail.style = "float: right;";
          buttonConfirm.innerText = " Confirm ";
          buttonViewDetail.innerText = " View ";
          buttonConfirm.setAttribute('bookId', result[i]._id);
          buttonConfirm.setAttribute('bookTimeForQuery', result[i].bookTimeForQuery);
          buttonConfirm.onclick = function(){
            var confirmAppointment = {};
            confirmAppointment.bookId = this.getAttribute('bookId');
            confirmAppointment.bookTimeForQuery = this.getAttribute('bookTimeForQuery');
            $.ajax({ // JQuery Ajax
              type: 'post',
              url: '/confirmappointment',
              data: JSON.stringify(confirmAppointment),
              processData: false,
              contentType: "application/json",
              success: function(feedback) {
                var feedback = JSON.parse(feedback);
                if(feedback.status == 1){
                  // success modal
                  popUpSuccessModal(feedback.message);
                }else{
                  // failed modal
                  popUpFailedModal(feedback.message);
                }
                getAppointmentInfo(parentNode);
              }
            });
          }
          buttonViewDetail.setAttribute('bookId', result[i]._id);
          buttonViewDetail.addEventListener('click', function(){
            showDetail(this.getAttribute('bookId'));
          });
          div_1.appendChild(buttonViewDetail);
          div_1.appendChild(buttonConfirm);
        }else if(parentNode == "inProgressList"){
          var buttonFinished = document.createElement("BUTTON");
          buttonFinished.classList.add("btn");
          buttonFinished.classList.add("btn-danger");
          buttonFinished.classList.add("btn-sm");
          buttonFinished.style = "float: right;";
          buttonFinished.innerText = " Finished ";
          buttonFinished.setAttribute('bookId', result[i]._id);
          buttonFinished.setAttribute('bookTimeForQuery', result[i].bookTimeForQuery);
          buttonFinished.onclick = function(){
            var finishAppointment = {};
            finishAppointment.bookId = this.getAttribute('bookId');
            finishAppointment.bookTimeForQuery = this.getAttribute('bookTimeForQuery');
            $.ajax({ // JQuery Ajax
              type: 'post',
              url: '/finishappointment',
              data: JSON.stringify(finishAppointment),
              processData: false,
              contentType: "application/json",
              success: function(feedback) {
                var feedback = JSON.parse(feedback);
                if(feedback.status == 1){
                  // success modal
                  popUpSuccessModal(feedback.message);
                }else{
                  // failed modal
                  popUpFailedModal(feedback.message);
                }
                getAppointmentInfo(parentNode);
              }
            });
          }
          div_1.appendChild(buttonFinished);
        }else{
          var buttonViewDetail = document.createElement("BUTTON");
          buttonViewDetail.classList.add("btn");
          buttonViewDetail.classList.add("btn-primary");
          buttonViewDetail.classList.add("btn-sm");
          buttonViewDetail.style = "float: right;";
          buttonViewDetail.innerText = " View ";
          buttonViewDetail.setAttribute('bookId', result[i]._id);
          buttonViewDetail.addEventListener('click', function(){
            showDetail(this.getAttribute('bookId'));
          });
          div_1.appendChild(buttonViewDetail);
        }

        var div_2 = document.createElement("DIV");
        div_2.classList.add("row");
        div_2.appendChild(div_1);
        var div_3 = document.createElement("DIV");
        div_3.classList.add("panel-body");
        div_3.appendChild(div_2);
        var div_4 = document.createElement("DIV");
        div_4.classList.add("panel");
        var timeAndId = document.createElement("DIV");
        timeAndId.classList.add("panel-heading");
        timeAndId.innerText = "Book time: " + result[i].bookTime + "  ID: " + result[i]._id;
        if(result[i].status == "booked"){
          div_4.classList.add("panel-primary");
        }else if(result[i].status == "rescheduled"){
          div_4.classList.add("panel-info");
        }else if(result[i].status == "inProgress"){
          div_4.classList.add("panel-success");
        }else{
          div_4.classList.add("panel-default");
        }
        div_4.appendChild(timeAndId);
        div_4.appendChild(div_3);
        myBookingList.appendChild(div_4);
      }
      if(flag === 0){
        renderAppointmentPanelEmpty("There is no appointment to display.", parentNode);
      }
    }

    function popUpSuccessModal(message){
      var successMessage = document.getElementById('successMessage');
      successMessage.innerText = message;
      $('#successModal').modal('show');
    }

    function popUpFailedModal(message){
      var failedMessage = document.getElementById('failedMessage');
      failedMessage.innerText = message;
      $('#failedModal').modal('show');
    }

    function popUpDetail(message){
      var contactName = document.getElementById('contactName');
      var contactEmail = document.getElementById('contactEmail');
      var contactMobileNumber = document.getElementById('contactMobileNumber');
      var contactAddress = document.getElementById('contactAddress');
      var dogName = document.getElementById('dogName');
      var dogBreed = document.getElementById('dogBreed');
      var groomOption = document.getElementById('groomOption');
      var description = document.getElementById('description');

      contactName.innerText = message.contactName;
      contactEmail.innerText = message.contactEmail;
      contactMobileNumber.innerText = message.contactMobileNum;
      contactAddress.innerText = message.contactAddress;
      dogName.innerText = message.dogName;
      dogBreed.innerText = message.dogBreed;
      groomOption.innerText = message.groomOption;
      description.innerText = message.additionalDescription;
      $('#showDetail').modal("show");
    }

    function showDetail(bookId){
      var book = {};
      book.bookId = bookId;
      $.ajax({ // JQuery Ajax
        type: 'post',
        url: '/getappointmentdetail',
        data: JSON.stringify(book),
        processData: false,
        contentType: "application/json",
        success: function(feedback) {
          feedback = JSON.parse(feedback);
          if(feedback.status == 1){
            popUpDetail(feedback.message);
          }else{
            popUpFailedModal(feedback.message);
          }
        }
      });
    }

    function appendAppointmentPanel(result, parentNode){
      var myBookingList = document.getElementById(parentNode);
      if(result == "refresh-appointment"){
        getAppointmentInfo(parentNode);
        return;
      }
      // booked appointment
      var head = ['Contact Email', 'Dog\'s Name', 'Breed', 'Groom Option', 'status'];
      var tr_1 = document.createElement('TR');
      for(var j=0; j<head.length; j++){
        var th = document.createElement('TH');
        th.innerText = head[j];
        tr_1.appendChild(th);
      }
      var thead = document.createElement('THEAD');
      thead.appendChild(tr_1);

      var body = [result.contactEmail, result.dogName, result.dogBreed, result.groomOption, result.status];
      var tr_2 = document.createElement('TR');
      for(var k=0; k<body.length; k++){
        var th = document.createElement('TH');
        th.innerText = body[k];
        tr_2.appendChild(th);
      }
      var tbody = document.createElement('TBODY');
      tbody.appendChild(tr_2);
      var table = document.createElement("TABLE");
      table.classList.add("table");
      table.appendChild(thead);
      table.appendChild(tbody);
      var div_1 = document.createElement("DIV");
      div_1.classList.add("col-xs-12");
      div_1.appendChild(table);
      // set up button according to the tab view
      var buttonConfirm = document.createElement("BUTTON");
      var buttonViewDetail = document.createElement("BUTTON");
      buttonConfirm.classList.add("btn");
      buttonConfirm.classList.add("btn-success");
      buttonConfirm.classList.add("btn-sm");
      buttonViewDetail.classList.add("btn");
      buttonViewDetail.classList.add("btn-info");
      buttonViewDetail.classList.add("btn-sm");
      buttonConfirm.style = "float: right; margin-right: 5px;";
      buttonViewDetail.style = "float: right;";
      buttonConfirm.innerText = " Confirm ";
      buttonViewDetail.innerText = " View ";
      buttonConfirm.setAttribute('bookId', result._id);
      buttonConfirm.setAttribute('bookTimeForQuery', result.bookTimeForQuery);
      buttonConfirm.onclick = function(){
        var confirmAppointment = {};
        confirmAppointment.bookId = this.getAttribute('bookId');
        confirmAppointment.bookTimeForQuery = this.getAttribute('bookTimeForQuery');
        $.ajax({ // JQuery Ajax
          type: 'post',
          url: '/confirmappointment',
          data: JSON.stringify(confirmAppointment),
          processData: false,
          contentType: "application/json",
          success: function(feedback) {
            var feedback = JSON.parse(feedback);
            if(feedback.status == 1){
              // success modal
              popUpSuccessModal(feedback.message);
            }else{
              // failed modal
              popUpFailedModal(feedback.message);
            }
            getAppointmentInfo(parentNode);
          }
        });
      }
      buttonViewDetail.setAttribute('bookId', result._id);
      buttonViewDetail.addEventListener('click', function(){
        showDetail(this.getAttribute('bookId'));
      });
      div_1.appendChild(buttonViewDetail);
      div_1.appendChild(buttonConfirm);
      var div_2 = document.createElement("DIV");
      div_2.classList.add("row");
      div_2.appendChild(div_1);
      var div_3 = document.createElement("DIV");
      div_3.classList.add("panel-body");
      div_3.appendChild(div_2);
      var div_4 = document.createElement("DIV");
      div_4.classList.add("panel");
      var timeAndId = document.createElement("DIV");
      timeAndId.classList.add("panel-heading");
      timeAndId.innerText = "Book time: " + result.bookTime + "  ID: " + result._id;
      if(result.status == "booked"){
        div_4.classList.add("panel-primary");
      }else if(result.status == "rescheduled"){
        div_4.classList.add("panel-info");
      }else if(result.status == "inProgress"){
        div_4.classList.add("panel-success");
      }else{
        div_4.classList.add("panel-default");
      }
      div_4.appendChild(timeAndId);
      div_4.appendChild(div_3);
      myBookingList.appendChild(div_4);
    }
  </script>
</body>
</html>
