extends layout.pug
block footer
  footer.row-footer
    .container
      .row
        .col-xs-5.col-xs-offset-1.col-sm-2.col-sm-offset-1
          h5 Links
          ul.list-unstyled
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') User Profile
            li
              a(href='#') Contact
        .col-xs-6.col-sm-5
          h5 Our Address
          address
            | Parkville VIC 3010
            br
            |               University of Melbourne
            br
            |               Australia
            br
            i.fa.fa-phone
            | : +61 452545186
            br
            i.fa.fa-fax
            | : +61 452545186
            br
            i.fa.fa-envelope
            | :
            a(href='mailto:molinz@student.unimelb.edu.au') molinz@student.unimelb.edu.au
        .col-xs-12.col-sm-4
          .nav.navbar-nav(style='padding: 40px 10px;')
            a.btn.btn-social-icon.btn-google-plus(href='http://google.com/+')
              i.fab.fa-google-plus
            a.btn.btn-social-icon.btn-facebook(href='http://www.facebook.com/profile.php?id=')
              i.fab.fa-facebook
            a.btn.btn-social-icon.btn-linkedin(href='http://www.linkedin.com/in/')
              i.fab.fa-linkedin
            a.btn.btn-social-icon.btn-twitter(href='http://twitter.com/')
              i.fab.fa-twitter
            a.btn.btn-social-icon.btn-youtube(href='http://youtube.com/')
              i.fab.fa-youtube
            a.btn.btn-social-icon(href='mailto:')
              i.fa.fa-envelope-o
        .col-xs-12
          p(style='padding:10px;')
          p(align='center') &copy; Copyright 2018 Grooming Appointment
