extends layout.pug
block navbar
  nav#navigationBar.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/index')
          span
            img#websiteLogo(src='static/webImage/titleImage.jpg')
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          - var currentPage = "#" + #{currentPage};
          li#index
            a(href='/index')
              span.glyphicon.glyphicon-home(aria-hidden='true')
              |  Home
          li#appointment
            a(href='/appointment')
              span.glyphicon.glyphicon-th(aria-hidden='true')
              |  Appointment
          li#about
            a(href='/about')
              span.glyphicon.glyphicon-info-sign(aria-hidden='true')
              |  About
          li#contact
            a(href='/contact')
              span.glyphicon.glyphicon-phone(aria-hidden='true')
              |  Contact
        script.
          var currentPageList = $(currentPage);
          currentPageList.addClass("active");
          currentPageList.siblings().removeClass("active");
        // if user login, change the navbar right items to user image and role
        if (session)
          ul.nav.navbar-nav.navbar-right(style='margin-top: 5px;')
            li(style='cursor: pointer;' onclick="javascript:location.href='/profile'")
              div(style='display: inline;')
                img#loginImage.img-circle(style='height:40px; width:40px;' src=#{session.imagePath})
              div(style='display: inline;')
                span Welcome!
            li
              button#logoutButton.btn.btn-danger(style='height: 35px; margin-top: 3px; margin-left:5px;' type='button')  Logout 
        else
          ul.nav.navbar-nav.navbar-right
            li
              a(data-toggle='modal' data-target='#signUpModal')
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(data-toggle='modal' data-target='#loginModal')
                span.glyphicon.glyphicon-log-in
                |  Login          
          //signUpModal
          block signUpModal
          // loginModal
          block loginModal
